
@import url("main.css");
@import url("first-section.css");
@import url("second-section.css");



body {
    font-size: 24px;
    font-family: var(--principal-font);
    background-color: var(--light-grayish-cyan);
}

:root {

    /*Colors*/

    --strong-cyan: #26c0ab;
    --very-dark-cyan: #00494d;
    --dark-grayish-cyan: #5e7a7d;
    --grayish-cyan: #7f9c9f;
    --light-grayish-cyan: #c5e4e7;
    --very-light-grayish-cyan: #f4fafa;
    --white: #ffffff;

    /*Font*/

    --principal-font: 'Space Mono', monospace;
}